{% extends 'core/base.html' %}

{% load bootstrap_field %}

{% block title %}{% if instance %}New{% else %}Edit{% endif %} Query{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div class="span6 offset3" id="form">
                <h1>{% if instance %}New{% else %}Edit{% endif %} Twitter Tracker</h1>
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}

                    {% for field in form %}
                        {% bootstrap_field field %}
                    {% endfor %}
                    <br><br><br>

                    <p class="help-block">Ex: <b>starbucks coffee</b> containing both "starbucks" and "coffee"<br>
                        <b>"kindle fire"</b>	containing the exact phrase "kindle fire"<br>
                        <b>coffee OR donut</b> containing either "coffee" or "donut" (or both)<br>
                        <b>coffee -donut</b> containing "coffee" but not "donut"<br>
                        <b>#coffee</b> containing the hashtag "coffee"<br>
                        <b>from:starbucks</b> sent from the user @starbucks<br>
                        <b>@starbucks</b> mentioning @starbucks<br>
                    </p>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% if instance %}Update{% else %}Add{% endif %}</button>
                        <a href="{% url core:home %}" class="btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
