{% extends 'core/base.html' %}
{% block javascript %}

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        console.log('inside draw chart');
        {% for query in queries %}

            var data = google.visualization.arrayToDataTable([
                ['Day', 'Buy', 'Like', 'Try', 'Question', 'Recommendation', 'Commitmemt', 'Dislike'],
                ['Sept 2, 2012', 0, 0, 0, 0, 0, 0, 0],
                {% for daily_stat in query.dailystats.all %}
                    [
                        '{{ daily_stat.stat_for }}',
                        {{ daily_stat.buy_percentage }},
                        {{ daily_stat.like_percentage }},
                        {{ daily_stat.try_percentage }},
                        {{ daily_stat.question_percentage }},
                        {{ daily_stat.recommendation_percentage }},
                        {{ daily_stat.commitment_percentage }},
                        {{ daily_stat.dislike_percentage }}
                    ],
                {% endfor %}
            ]);

            var options = {
                title: 'Intents over time'
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div_{{query.id}}'));
            chart.draw(data, options);

            // pie chart

            // Create the data table.
{#            var pie_chart_data = null;#}
{#            var pie_chart_data = new google.visualization.DataTable();#}
{#            pie_chart_data.addColumn('string', 'Buy');#}
{#            pie_chart_data.addColumn('string', 'Like');#}
{#            pie_chart_data.addColumn('string', 'Try');#}
{#            pie_chart_data.addColumn('string', 'Question');#}
{#            pie_chart_data.addColumn('string', 'Recommendation');#}
{#            pie_chart_data.addColumn('string', 'Commitment');#}
{#            pie_chart_data.addColumn('string', 'Dislike');#}
{#            pie_chart_data.addColumn('number', 'Rest');#}
{#            pie_chart_data.addRows([#}
{#                ['Buy', {{ query.buy_percentage|floatformat:"0" }}],#}
{#                ['Like', {{ query.like_percentage|floatformat:"0" }}],#}
{#                ['Try', {{ query.try_percentage|floatformat:"0" }}],#}
{#                ['Question', {{ query.question_percentage|floatformat:"0" }}],#}
{#                ['Recommendation', {{ query.recommendation_percentage|floatformat:"0" }}],#}
{#                ['Commitment', {{ query.commitment_percentage|floatformat:"0" }}],#}
{#                ['Dislike', {{ query.dislike_percentage|floatformat:"0" }}],#}
{#                ['Rest', 100 - ({{ query.buy_percentage|floatformat:"0" }} + {{ query.like_percentage|floatformat:"0" }}#}
{#                        + {{ query.try_percentage|floatformat:"0" }}#}
{#                        + {{ query.dislike_percentage|floatformat:"0" }})]#}
{#            ]);#}

            var pie_chart_data = google.visualization.arrayToDataTable([
                ['Buy',             {{ query.buy_percentage|floatformat:"0" }}],
                ['Like',            {{ query.like_percentage|floatformat:"0" }}],
                ['Try',             {{ query.try_percentage|floatformat:"0" }}],
                ['Question',        {{ query.question_percentage|floatformat:"0" }}],
                ['Recommendation',  {{ query.recommendation_percentage|floatformat:"0" }}],
                ['Commitment',      {{ query.commitment_percentage|floatformat:"0" }}],
                ['Dislike',         {{ query.dislike_percentage|floatformat:"0" }}],
{#                ['Rest',            100 - ({{ query.buy_percentage|floatformat:"0" }}#}
{#                        + {{ query.like_percentage|floatformat:"0" }}#}
{#                        + {{ query.try_percentage|floatformat:"0" }}#}
{#                        + {{ query.dislike_percentage|floatformat:"0" }})]#}
            ]);

            function selectHandler(e) {
                console.log('selectHandler called with ' + e);
                var selectedItem = pie_chart.getSelection()[0];
                console.log('selectedItem: ' + selectedItem);
                if (selectedItem) {
                    var topping = pie_chart_data.getValue(selectedItem.row, 0);
                    alert('The user selected ' + topping);
                }
            }

            // Instantiate and draw our chart, passing in some options.
            var pie_chart = null;
            var pie_chart = new google.visualization.PieChart(document.getElementById('pie_chart_div_{{query.id}}'));

            pie_chart.draw(pie_chart_data, {
                'width':300, 'height':200, 'is3D': false, legend : 'none',
                title : 'Intents',
                backgroundColor: { fill:'transparent' }
                //colors: ['0191C8', '74C2E1']
            });
            google.visualization.events.addListener(pie_chart, 'select', selectHandler);

        {% endfor %}

    }
</script>

{% endblock %}

{% block title %}Product trackers{% endblock %}

{% block yield %}
    <h1>Product trackers</h1>
    <table class="table table-striped table-bordered table-condensed">
        <thead><tr>
            <th width='30%'>Product tracker</th>
            <th >Results</th>
        </tr></thead>
        <tbody>
        {% for query in queries %}
            <tr>
                <td>
                    <a href='edit/{{query.id}}'>{{ query }}</a>
                    <br>
                    {% for k, v in status_choices.items %}
                        {% ifequal k|stringformat:"s" query.status|stringformat:"s" %}
                            {{ v }}
                        {% endifequal %}
                    {% endfor %}
                    <br>
                    {% if query.vertical_tracker %}
                        Tracking for <b>{{ query.vertical_tracker.name }}</b>
                    {% endif %}
                    <br>
                    Created on {{ query.created_on }}
                    <br>
                    Last run on {{ query.last_run }}
                    <br>
                    {{ query.count }} tweets analyzed
                </td>
                <td>
                    <div class='chart' id="chart_div_{{query.id}}" style="width: 500px; height: 300px;"></div><br>
                    <!--Div that will hold the pie chart-->
                    <div class="span3" id="pie_chart_div_{{query.id}}"></div><br>
                    <b>{{ query.buy_count }} potential leads</b>,<br>
                    <a href="results/{{query.id}}?intent=buy">{{ query.buy_percentage|floatformat:"2" }}% buy intents</a>,
                    <a href="results/{{query.id}}?intent=like">{{ query.like_percentage|floatformat:"2" }}% likes</a>,
                    <a href="results/{{query.id}}?intent=try">{{ query.try_percentage|floatformat:"2" }}% try intent</a><br>
                    <a href="results/{{query.id}}?intent=question">{{ query.question_percentage|floatformat:"2" }}% questions/requests</a>,
                    <a href="results/{{query.id}}?intent=recommendation">{{ query.recommendation_percentage|floatformat:"2" }}% recommendations</a>,
                    <a href="results/{{query.id}}?intent=commitment">{{ query.commitment_percentage|floatformat:"2" }}% commitments</a><br>

                    <a href="results/{{query.id}}?intent=dislike">{{ query.dislike_percentage|floatformat:"2" }}% dislikes</a><br>

                    <a href="download/{{query.id}}?intent=buy">Download leads</a><br>
                    <a href="map/{{query.id}}?intent=buy">Map view (Experimental)</a>

                </td>
                <!--
                <td>
                    <form action="download/{{query.id}}" method="get">
                        {% csrf_token %}
                        <div align='center'>
                            <button type="submit" class="btn">Download latest 100 tweets without analysis</button>
                        </div>
                    </form>
                </td>
                -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}