{% extends 'core/base.html' %}
{% block javascript %}

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {

        {% for query in queries %}

            var data = google.visualization.arrayToDataTable([
                ['Day', 'Buy', 'Like', 'Try', 'Question', 'Recommendation', 'Commitmemt', 'Dislike'],
                ['Sept 2, 2012', 0, 0, 0, 0, 0, 0, 0],
                {% for daily_stat in query.dailystats.all %}
                    [
                        '{{ daily_stat.stat_for }}',
                        {{ daily_stat.buy_percentage }},
                        {{ daily_stat.like_percentage }},
                        {{ daily_stat.try_percentage }},
                        {{ daily_stat.question_percentage }},
                        {{ daily_stat.recommendation_percentage }},
                        {{ daily_stat.commitment_percentage }},
                        {{ daily_stat.dislike_percentage }}
                    ],
                {% endfor %}
            ]);

            var options = {
                title: 'Intents over time'
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div_{{query.id}}'));
            chart.draw(data, options);

        {% endfor %}

    }
</script>

{% endblock %}

{% block title %}Twitter trackers{% endblock %}

{% block yield %}
    <h1>Twitter trackers</h1>
    <table class="table table-striped table-bordered table-condensed">
        <thead><tr>
            <th width='30%'>Twitter tracker</th>
            <th >Results</th>
        </tr></thead>
        <tbody>
        {% for query in queries %}
            <tr>
                <td>
                    <a href='edit/{{query.id}}'>{{ query.query }}</a>
                    <br>
                    {% for k, v in status_choices.items %}
                        {% ifequal k|stringformat:"s" query.status|stringformat:"s" %}
                            {{ v }}
                        {% endifequal %}
                    {% endfor %}
                    <br>
                    Created on {{ query.created_on }}
                    <br>
                    Last run on {{ query.last_run }}
                    <br>
                    {{ query.count }} tweets analyzed
                </td>
                <td>
                    <div class='chart' id="chart_div_{{query.id}}" style="width: 500px; height: 300px;"></div><br>
                    <b>{{ query.buy_count }} potential leads</b>,<br>
                    <a href="results/{{query.id}}?intent=buy">{{ query.buy_percentage }}% buy intents</a>,
                    <a href="results/{{query.id}}?intent=like">{{ query.like_percentage }}% likes</a>,
                    <a href="results/{{query.id}}?intent=try">{{ query.try_percentage }}% try intent</a><br>
                    <a href="results/{{query.id}}?intent=question">{{ query.question_percentage }}% questions/requests</a>,
                    <a href="results/{{query.id}}?intent=recommendation">{{ query.recommendation_percentage }}% recommendations</a>,
                    <a href="results/{{query.id}}?intent=commitment">{{ query.commitment_percentage }}% commitments</a><br>

                    <a href="results/{{query.id}}?intent=dislike">{{ query.dislike_percentage }}% dislikes</a><br>

                </td>
                <!--
                <td>
                    <form action="download/{{query.id}}" method="get">
                        {% csrf_token %}
                        <div align='center'>
                            <button type="submit" class="btn">Download latest 100 tweets without analysis</button>
                        </div>
                    </form>
                </td>
                -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}