{% extends 'core/base.html' %}

{% block javascript %}
{{ block.super }}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<script src="/static/vendor/jquery/1.7.2/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/vendor/endless_pagination/1.1/endless.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}

{% block title %}{{ intent|capfirst }} intents for {{ search_term }}{% endblock %}

{% block yield %}

    <form method="get" action="/query/search/">
      <input type="text" name="q" id="id_q" class="input-xxlarge search-query" placeholder="'samsung galaxy' iphone followers:200 in:denver retweeted:2 from:mobile show:map within:14 intent:buy" value="{{ search_term }}"/>
      <input type="submit" value="Search" /></p>
     </form>

<h3>{{ intent_to_filter_for|capfirst }} intents for {{ search_term }}</h3>

<div class='container'>
{% include page_template %}
</div>


<a href="{% url query:query_index %}">Go to dashboard</a>

<p>

{% endblock %}