<!DOCTYPE html>
<html>
    <head>
        <title>Cruxly - {% block title %}{% endblock %}</title>

        {% if debug %}
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.2.1/css/bootstrap.css">
            <!--<link href="/static/vendor/bootstrap/2.2.1/css/bootstrap-responsive.css" rel="stylesheet">-->
            <!--
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.2.1/css/datepicker.css">
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.2.1/css/timepicker.css">
            -->
            <link rel="stylesheet" href="/static/vendor/fancybox/2.1.0/jquery.fancybox.css">
        {% else %}
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.2.1/css/bootstrap.min.css">
            <!--<link href="/static/vendor/bootstrap/2.2.1/css/bootstrap-responsive.css" rel="stylesheet">-->
            <!--
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.1.0/css/datepicker.css">
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.1.0/css/timepicker.css">
            -->
            <link rel="stylesheet" href="/static/vendor/fancybox/2.1.0/jquery.fancybox.css">
        {% endif %}

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fredericka+the+Great">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Righteous">

        <link rel="stylesheet" href="/static/core/css/reminderpin.css">

        {% include "query/thirdparty_trackers.html" %}

    </head>
    <body>
        <!-- Navbar
        ================================================== -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url core:home %}"> <img width="100px" src="/static/core/img/cruxly-logo-4x2.png"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <!--
                            <li><a href="{% url core:plans %}">Plans</a></li>
                            -->
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url query:search %}">Intent</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trackers <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-header">Category Tracker</li>
                                        <li><a href="{% url query:new-verticaltracker %}">New</a></li>
                                        <li><a href="{% url query:verticaltracker_index %}">Active</a></li>
                                        <li class="divider"></li>
                                        <li class="nav-header">Product Tracker</li>
                                        <li><a href="{% url query:new-query %}">New</a></li>
                                        <li><a href="{% url query:query_index %}">Active</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url account_change_password %}">Change Password</a></li>
                                        <li><a href="{% url account_email %}">Update Email</a></li>
                                        <li><a href="{% url socialaccount_connections %}">Twitter authorization</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url account_logout %}">Logout {{ user.username }}</a></li>
                            {% else %}
                                <li><a href="{% url account_login %}">Login</a></li>
                                <li><a href="{% url account_signup %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>  <!--/.nav-collapse -->
                </div>  <!-- container -->
            </div>
        </div>

        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} data-alert="alert" class="{{ message.tags }} close alert-message fade in"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="container" >
                {% block yield %}{% endblock %}
            </div><!-- /container -->

        </div><!-- /container -->

        <!-- Footer
            ================================================== -->
        <footer class="footer">
            <div class="container">
                <p class="pull-right">
                    <a href="http://blog.cruxly.com">Blog</a>
                    <a class="muted">&middot;</a>
                    <a href="{% url core:company %}" class="brand">Company</a>
                    <a class="muted">&middot;</a>
                    <a href="{% url core:terms %}" class="brand">Terms</a>
                    <a class="muted">&middot;</a>
                    <a href="{% url core:privacy %}" class="brand">Privacy</a>
                    <a class="muted">&middot;</a>
                    <a href="{% url core:technology %}" class="brand">Technology</a>
                </p>
                &copy; Cruxly 2013. Designed and developed in Boulder, Colorado
            </div>
        </footer>

        {% if debug %}
            <script src="/static/vendor/jquery/1.7.2/jquery.js"></script>
            <script src="/static/vendor/bootstrap/2.2.1/js/bootstrap.js"></script>
            <!--
            <script src="/static/vendor/bootstrap/2.1.0/js/bootstrap-datepicker.js"></script>
            <script src="/static/vendor/bootstrap/2.1.0/js/bootstrap-timepicker.js"></script>
            -->
            <script src="/static/vendor/wookmark/0.5/jquery.wookmark.js"></script>
            <script src="/static/vendor/fancybox/2.1.0/jquery.fancybox.js"></script>
            <script src="/static/vendor/imagesloaded/2.0.1/jquery.imagesloaded.js"></script>
        {% else %}
            <script src="/static/vendor/jquery/1.7.2/jquery.min.js"></script>
            <script src="/static/vendor/bootstrap/2.2.1/js/bootstrap.min.js"></script>
            <!--
            <script src="/static/vendor/bootstrap/2.1.0/js/bootstrap-datepicker.js"></script>
            <script src="/static/vendor/bootstrap/2.1.0/js/bootstrap-timepicker.js"></script>
            -->
            <script src="/static/vendor/wookmark/0.5/jquery.wookmark.min.js"></script>
            <script src="/static/vendor/fancybox/2.1.0/jquery.fancybox.pack.js"></script>
            <script src="/static/vendor/imagesloaded/2.0.1/jquery.imagesloaded.min.js"></script>
        {% endif %}

        <!--
        <script src="/static/core/js/reminderpin.js"></script>
        <script src="/static/core/js/messages.js"></script>

        <script type="text/javascript">
            $(function() {
                $( ".datePicker" ).datepicker();
                $( ".timePicker" ).timepicker();
            });
        </script>
        -->

        {% block javascript %}{% endblock javascript %}
    </body>
</html>
