<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Cruxly - understand intent</title>

        {% if debug %}
        <link rel="stylesheet" href="/static/vendor/bootstrap/2.1.0/css/bootstrap.css">
        <link rel="stylesheet" href="/static/vendor/fancybox/2.1.0/jquery.fancybox.css">
        {% else %}
        <link rel="stylesheet" href="/static/vendor/bootstrap/2.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/vendor/fancybox/2.1.0/jquery.fancybox.css">
        {% endif %}

        <link href="/static/vendor/bootstrap/2.1.0/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fredericka+the+Great">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Righteous">

        <link rel="stylesheet" href="/static/core/css/reminderpin.css">
    </head>

    <body data-spy="scroll" data-target=".subnav" >

        <!-- Navbar
        ================================================== -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a href="{% url core:home %}" class="brand"><img width="73px" src="/static/core/img/cruxly-logo-4x2.png"></a>

                <ul class="nav pull-right">
                    <li><a href="http://sentimentsymposium.com/agenda.html">Cruxly's talk at Sentiment Analysis Symposium on March 6 2014</a></li>
                    <li><a href="http://blog.cruxly.com">Blog</a></li>
                    <!--
                    <li><a href="{% url core:plans %}">Plans</a></li>
                    -->
                    {% if user.is_authenticated %}
                        <li><a href="{% url account_logout %}">Logout {{ user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url account_login %}">Login</a></li>
                        <li><a href="{% url account_signup %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="container">
            <!-- Masthead
           ================================================== -->
            <header class="jumbotron masthead">
                <div class="container">
                    <!-- <hl>Find intents that matter</hl> -->
                    <h1>Find actionables in conversations</h1>
                    <div class="container">
                        <div class="row">
                            <div class="span12" style="text-align:center; margin: 0 auto;">
                                <p class="">Found <strong>{{  buy_count }}</strong> intents in <strong>{{ total_documents_processed }}</strong> tweets</p><br>
                            </div>
                        </div>
                    </div>

                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item" style="text-align:center; margin: 0 auto;">
                                <div>
                                    <img src="/static/core/img/home-page-graphics-tweets-solo-BUY_101912.png">
                                </div>
                                <div class="carousel-caption">
                                    <p>Find your <strong>next customer</strong></p>
                                </div>
                            </div>
                            <div class="item" style="text-align:center; margin: 0 auto;">
                                <div>
                                    <img src="/static/core/img/home-page-graphics-tweets-solo-DISLIKE_101912.png">
                                </div>
                                <div class="carousel-caption">
                                    <p>Fine tune your <strong>campaign</strong> and engage your <strong>advocates</strong></p>
                                </div>
                            </div>
                            <div class="item" style="text-align:center; margin: 0 auto;">
                                <div>
                                    <img src="/static/core/img/home-page-graphics-tweets-solo-LIKE_101912.png">
                                </div>
                                <div class="carousel-caption">
                                    <p>Provide <strong>support</strong> and keep your customers happy</p>
                                </div>
                            </div>
                            <div class="item" style="text-align:center; margin: 0 auto;">
                                <div>
                                    <img src="/static/core/img/home-page-graphics-tweets-solo-Question_101912.png">
                                </div>
                                <div class="carousel-caption">
                                    <p>Improve your <strong>product</strong> and find what features are desired</p>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>

                    <p class="download-info">
                        <a href="/register/" class="btn btn-primary btn-large">Register</a>
                    </p>
                </div>

                <div class="bs-links">
                    <ul class="quick-links">
                        <!-- <li><a href="mailto:bot@cruxly.com">Email Bot</a></li> -->
                        <li><a href="https://twitter.com/Cruxly" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @Cruxly</a></li>
                        <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://Cruxly.com" data-count="horizontal" data-via="Cruxly" data-related="mdo:Creator of Cruxly">Tweet</a></li>

                    </ul>
                </div>

            </header>

            <hr class="soften">

            <div class="row-fluid">
                <div class="span6">
                    <h2>Mission</h2>
                    <p>Cruxly provides analytics technology for intent and event detection, that is highly valuable for engagements broadly in customer and partner engagements in marketing, product management, and support</p>
                    <!--
                    <p>Cruxly analyzes Twitter, Facebook, other social media posts, as well as email messages to detect actionable intent in near real-time. Cruxly identifies buy, try, like, dislike, question, commitments and recommendation intents </p>
                    -->
                </div><!--/span-->
                <div class="span6">
                    <h2>Patented technology</h2>
                    <p>The Cruxly team collectively has more than 50 years of NLP experience, and is led by Aloke Guha who holds 6 patents (of 25 issued) related to machine learning and data mining. </p>
                </div>
            </div>

            <!-- Footer
           ================================================== -->
            <footer class="footer">
                <p class="pull-right"><a href="{% url core:company %}" class="brand">Company</a>
                    <a href="{% url core:terms %}" class="brand">Terms</a>
                    <a href="{% url core:privacy %}" class="brand">Privacy</a>
                    <a href="{% url core:technology %}" class="brand">Technology</a>
                </p>
                &copy; Cruxly 2013. Designed and developed in Boulder, Colorado
            </footer>
        </div><!-- /container -->

        {% if debug %}
            <script src="/static/vendor/jquery/1.7.2/jquery.js"></script>
            <script src="/static/vendor/bootstrap/2.1.0/js/bootstrap.js"></script>
            <script src="/static/vendor/wookmark/0.5/jquery.wookmark.js"></script>
            <script src="/static/vendor/fancybox/2.1.0/jquery.fancybox.js"></script>
            <script src="/static/vendor/imagesloaded/2.0.1/jquery.imagesloaded.js"></script>
        {% else %}
            <script src="/static/vendor/jquery/1.7.2/jquery.min.js"></script>
            <script src="/static/vendor/bootstrap/2.1.0/js/bootstrap.min.js"></script>
            <script src="/static/vendor/wookmark/0.5/jquery.wookmark.min.js"></script>
            <script src="/static/vendor/fancybox/2.1.0/jquery.fancybox.pack.js"></script>
            <script src="/static/vendor/imagesloaded/2.0.1/jquery.imagesloaded.min.js"></script>
        {% endif %}

        <script src="/static/core/js/reminderpin.js"></script>
        <script src="/static/core/js/messages.js"></script>
    </body>
</html>
