{% extends 'core/base.html' %}

{% block title %}Privacy policies{% endblock %}

{% block yield %}
    <p>This Privacy Policy applies to the collection, use and disclosure of certain information relating to your use of any of Cruxly’s apps, plug-ins, websites, APIs, and any other related software and services, collectively referred to a Cruxly Services signifies your understanding and acceptance of the terms of this Privacy Policy.
    We may from time to time modify these terms and will post a copy of the amended Agreement at http://www.Cruxly.com/company/privacy.html. If you do not agree to, or cannot comply with, the Agreement as amended, you must stop using the Cruxly Services. You will be deemed to have accepted the Agreement as amended if you continue to use any of the Cruxly Services after any amendments are posted on the Site.</p>

    <h3>Information Collection and Use</h3>
As a part of its services, Cruxly processes, analyzes, compiles and stores data only as needed to provide results needed as part of Cruxly’s services.

When you register with Cruxly for to use some components of the Cruxly Services, you may have to complete a registration form to set up an account, including email, name, and billing and credit card information. The registration information is used to contact the user about the services on our site for which they have expressed interest, send you Service related notices, including any notices required by law.

We will ask your permission to use your email address to send you other messages, such as newsletters, updates to features of the Service, or special offers. In such cases, we will provide you the option to opt-out from such communications.

Cruxly may partner with third party vendors or service providers to help process orders and provide other services, such as sending e-mail communications to you on our behalf. These companies do not retain share, store or use personally identifiable information for any secondary purposes and are authorized to use your personal information, such as your name and e-mail address, only as necessary to provide these services to us.

Cruxly will not rent or sell your personally identifiable information to others and will not share it with others, except as follows:

Cruxly may disclose such information (a) if we are required to do so by law or subpoena, (b) to enforce our terms and policies; or (c) to exercise or protect the rights, property, or safety of Cruxly, our users or others.

We may store information in physical locations outside the direct control of Cruxly such as on 3rd party hosted servers and storage.

Cruxly may transfer such information if Cruxly is acquired as a business or its assets are sold, as is typical when a business is acquired or merged.

    <h3>Tracking, use of Cookies, Log Files, and Similar Devices</h3>
Cruxly may utilizes HTTP Cookies to facilitate certain aspects of Cruxly Services, including authenticating, tracking, and maintaining specific information about users, such as user preferences. You are free to disable usage of HTTP Cookies within your web browser, but this may impede the proper operation of specific Cruxly Services features.

Cruxly may also gather information on IP addresses and log files to usage statistics and analyze trends, administer the site, track user's movement, and gather broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information.

    <h3>Security: How We Protect Your Information</h3>
Cruxly strives to protect your personal information. However, we cannot control all the individuals and activities on the internet and elsewhere, and therefore cannot guarantee that any of your personal information stored on our servers, or transmitted to or from a user, will be free from unauthorized access, and we disclaim any liability for any theft or loss of, unauthorized access or damage to, or interception of any data or communications. By using Cruxly Services, you acknowledge that you understand and agree to assume these risks.

    <h3>Changes to Our Privacy Policy</h3>
If we change our privacy policies and procedures, we will post those changes on our website to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page.

If you have any questions about this Privacy Policy, please contact us at support@cruxly.com

{% endblock %}
