{% extends 'core/base.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block yield %}
    <h3>Acceptance of Terms</h3>
    This Terms and Conditions  applies to your use of any of Cruxly’s apps, plug-ins, websites, APIs, and any other related software and services, collectively referred to a Cruxly Services. In order to use Cruxly Services, you must first agree to the Terms and Conditions. You may not use Cruxly Services if you do not accept the Term and Conditions
    You can accept the Terms by clicking to accept or agree to the Terms, where this option is made available to you by Cruxly in the user interface for any Service; or by actually using the Services. In this case, you understand and agree that Cruxly will treat your use of the Services as acceptance of the Terms from that point onwards.
    You may not use the Services and may not accept the Terms if (a) you are not of legal age to form a binding contract with Cruxly, or (b) you are a person barred from receiving the Services under the laws of the United States or other countries including the country in which you are resident or from which you use the Services.

    <h3>Provision of Services</h3>
Cruxly is constantly innovating to improve Cruxly Services in order to provide the best possible value and experience for its users. You acknowledge and agree that the form and nature of the Services which Cruxly provides may change from time to time without prior notice to you.
As part of this continuing innovation, you acknowledge and agree that Cruxly may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally at Cruxly’s sole discretion, without prior notice to you.
You acknowledge and agree that while Cruxly may not currently have set a fixed upper limit on the number of transmissions you may send or receive through the Services or on the amount of storage space used for the provision of any Service, such fixed upper limits may be set by Cruxly at any time at Cruxly’s discretion.

    <h3>Use of Services</h3>
You agree not to access (or attempt to access) any of Cruxly Services by any means other than through the interface or software applications that are provided by Cruxly unless you have been specifically allowed to do so in a separate agreement with Cruxly. You specifically agree not to access (or attempt to access) any of the Services through any automated means (including use of scripts or web crawlers).
You agree that you will not engage in any activity that interferes with or disrupts Cruxly Services (or the servers and networks which are connected to Cruxly Services).
Unless you have been specifically permitted to do so in a separate agreement with Cruxly, you agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose.

    <h3>No Warranties</h3>
Cruxly expressly disclaims any warranty for Cruxly Services. Cruxly Services is provided 'As Is' without any express or implied warranty of any kind, including but not limited to any warranties of merchantability, noninfringement, or fitness of a particular purpose. Cruxly does not warrant or assume responsibility for the accuracy or completeness of any information, text, graphics, links or other items contained within the Cruxly software. Cruxly makes no warranties respecting any harm that may be caused by the transmission of a computer virus, worm, time bomb, logic bomb, or other such computer program. Cruxly further expressly disclaims any warranty or representation to Authorized Users or to any third party.

    <h3>Limitation of Liability</h3>
In no event shall Cruxly be liable for any damages (including, without limitation, lost profits, business interruption, or lost information) rising out of 'Authorized Users' use of or inability to use the Cruxly software, even if Cruxly has been advised of the possibility of such damages. In no event will Cruxly be liable for loss of data or for indirect, special, incidental, consequential (including lost profit), or other damages based in contract, tort or otherwise. Cruxly shall have no liability with respect to the content of the Cruxly software or any part thereof, including but not limited to errors or omissions contained therein, libel, infringements of rights of publicity, privacy, trademark rights, business interruption, personal injury, loss of privacy, moral rights or the disclosure of confidential information.

    <h3>Copyright and Intellectual Property Rights</h3>
Cruxly Services are protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties.
All title, including but not limited to copyrights, in and to Cruxly Services are owned by Cruxly or its suppliers. All title and intellectual property rights in and to the content which may be accessed through use of the Cruxly Services is the property of the respective content owner and may be protected by applicable copyright or other intellectual property laws and treaties. All rights not expressly granted are reserved by Cruxly.

    <h3>Termination</h3>
Without prejudice to any other rights, Cruxly may terminate Cruxly Services if you fail to comply with the terms and conditions as provided here.

    <h3>Changes to Terms and Conditions</h3>
If we change Terms and Conditions, we will post those changes on our website to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to the Terms and Conditions are effective when they are posted on this page.

{% endblock %}
